@charset "UTF-8";
*{
    font-family: 'Courier New', Courier, monospace;
}
div{
  background-color: aquamarine; 
  border:1px solid black;
  display: inline-block; 
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
 
}
div > p{
    display: none;  
}
div:hover > p{
    display: block;
    background-color: black;
    color: white;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
main{
    text-align: center;
   }



